<!-- Registration Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Register Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	
	<img src="../resources/img/beproudcapaabanner.jpg" class="img-fluid" alt="Registration Page Banner for CU Football">
    <br>
	<br>
	<div class="container">
		<form action="home.html">
			<!--
				Todo: Create a form with the following fields:
					1. Name Text Field
					2. Email Text Field
					3. Password Text Field
					4. Password Confirmation Text Field
					5. Email Text Field
					6. CU Boulder Alumni Radio Button
					7. CU Boulder Student Radio Button
					8. CU Boulder Undergrad/Grad Radio Button
					9. Undergraduate Select (Freshman-Senior)
					10. Graduate Select (MA, MBA, PhD)
					11. Submit Button (links to home page)

			-->

			<div class="form-group">
				<div class="form-inline">
					<label class="sr-only" for="firstName">First Name: </label>
					<input type="text" class="form-control" id="firstName" name="form_firstname"placeholder="First Name">
					<label class="sr-only" for="lastName">Last Name: </label>
					<input type="text" class="form-control" id="lastName" name="form_lastname" placeholder="Last Name">
				</div>
			</div>

			<div class="form-group">
				<label for="email">Email Address:</label>
				<input type="email" id="email" name="form_email" placeholder="Enter email">
			</div>

			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" id="password" name="form_password" placeholder="Password">
			</div>

			<div class="form-group">
				<label for="confirm_password">Confirm Password:</label>
				<input type="password" id="confirm_password" name="form_confirm_password" placeholder="Confirm Password">
			</div>

			<div class="form-group">
				<label for="alumni">CU Boulder Alumni:</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" id="alumni_yes" name="form_alumni" value="yes">
					<label class="form-check-label" for="alumni_yes">Yes</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" id="alumni_no" name="form_alumni" value="no">
					<label class="form-check-label" for="alumni_no">No</label>
				</div>
			</div>

			<div class="form-group">
				<label for="student">CU Boulder Student:</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" id="student_yes" name="form_student" value="yes">
					<label class="form-check-label" for="alumni_yes">Yes</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" id="student_no" name="form_student" value="no">
					<label class="form-check-label" for="student_no">No</label>
				</div>
			</div>


			<div class="form-group">
				<label for="student_status">Student Status:</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="student_status" id="student_status_undergradate" value="undergraduate">
					<label class="form-check-label" for="student_status_undergradate">
						Undergraduate
					</label>

					<select name="form_undergraduate_class">
					  <option selected>Class Standing</option>
					  <option value="freshman">Freshman</option>
					  <option value="sophomore">Sophomore</option>
					  <option value="junior">Junior</option>
					  <option value="senior">Senior</option>
					</select>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="student_status" id="student_status_gradate" value="graduate">
					<label class="form-check-label" for="student_status_gradate">
						Graduate
					</label>

					<select name="form_graduate_class">
					  <option selected>Class Standing</option>
					  <option value="freshman">Freshman</option>
					  <option value="sophomore">Sophomore</option>
					  <option value="junior">Junior</option>
					  <option value="senior">Senior</option>
					</select>
				</div>
			</div>


			<input type="submit" value="Submit" class="btn btn-primary btn-block">
		</form>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
